
.footer{
    margin-top: 20%;
    height: 400px;
    /*  background-image: url(../image/image/wall2.jpeg);*/
    background-color: black;
      background-size: 100%;
  }
  .footer-ul{
    display: flex;
    gap:50px;
    list-style: none;
  margin-top: 100px;
    justify-content: center;
  }

 

  .footer-p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #fff;
}

footer {
  background-color: #034694;
  color: white;
  text-align: center;
  padding: 20px 0;
}