@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/

p{
  text-align: center;
  margin: 20px 0;
  font-size:3rem;
  color: aliceblue;
}


/*========= 1文字ずつ出現させるためのCSS ===============*/

.eachTextAnime span{opacity: 0;}
.eachTextAnime.appeartext span{ animation:text_anime_on 2s ease-out forwards; }
@keyframes text_anime_on {
  0% {opacity:0;}
  100% {opacity:1;}
}


.eachTextAnime {
    white-space: pre-line; /* もしくは white-space: pre; */
    margin-top: 9%;
    color: #000;
  -webkit-text-stroke: 2px #380bdc;;
}


.container {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #eee;
  }
  
  .box {
    position: absolute;
    top: 30px;
    left: 0;
    width: 30px;
    height: 30px;
    opacity: 0;
    animation: fadeIn 36s forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .box img {
    margin-top: 50px;
    margin-left: 450px;
    width: 550px; /* 幅を300pxに設定 */
    height: 450px; 
    opacity: 0.5;
}