/*us-imgs*/

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url(../image/image/night\ sky2.jpg);
  background-size: 100% 100%;
  background-color:rgb(20, 5, 232);
background-blend-mode:darken;
  }

  h1{
      color: aliceblue;
  }

  h2{
      color: aliceblue;
  }

.artist{
  list-style: none;
}

.head-main-nav{
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  list-style: none;
  margin-left: 10px;
}

.nav-li{
  margin-bottom: 35px;
  font-size: 25px;
  margin-top: 1%;
  list-style: none;
  text-decoration: none;
  color: #380bdc;;;
}

.nav-h1{
  margin-right: 50%;
  
}

.nav-img{
  margin-top: 10px;
  height: 60px;
  width: 60px;
}

.sk-h2{
  text-align: center;
  margin-top: 10%;
  margin-bottom: 7%;
  font-size: 400%;
  color: #000;
    -webkit-text-stroke: 2px #380bdc;;
  
}




.sk-div {

  width: 80%;
  color: aliceblue;
  text-align: center;
  background: rgba(36, 35, 35, 0.42);
  height: 800px;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  border: 5px solid #380bdc;
  border-radius: 10px;
  padding: 80px;
}

.name{
  font-size: 60px;
}




.sk-text1{
  text-align: left;
  font-size: 160%;
}

.sk-img-1{
  width: 80%;
}





.footer{
  /*flex-direction: row;*/
  background-color: rgb(34, 33, 33);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
}

.footer-ul{
  justify-content: center;
  display: flex;
  /*flex-direction: row;*/
  text-align: center;
  gap:100px;
  list-style: none;
}

.insta-img,.x-img,.line-img{
  margin-top: 5px;
  width: 50px;
  height: 50px;
}





.footer-ul{
  display: flex;
  gap:50px;
  list-style: none;
  height: 200px;
  background-size: 100%;
}