/*us-imgs*/

body {
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url(../image/image/night\ sky2.jpg);
    background-size: 100% 100%;
    background-color:rgb(20, 5, 232);
  background-blend-mode:darken;
    }

    h1{
        color: aliceblue;
    }

    h2{
        color: aliceblue;
    }

.artist{
    list-style: none;
}

.head-main-nav{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    list-style: none;
    margin-left: 10px;
    margin-top: 0px;
  }
  
  .nav-li{
    margin-bottom: 35px;
    font-size: 25px;
    margin-top: 1%;
    list-style: none;
    text-decoration: none;
    color: #380bdc;;;
  }
  
  .nav-h1{
    margin-right: 50%;
    
  }
  
  .nav-img{
    height: 60px;
    width: 60px;
  }


main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-bottom: 40px;
    border-radius: 8px;
    border: 5px solid #380bdc; /* 青色のボーダー */
    border-radius: 10px; /* 角丸にする場合 */
}

h2 {
    color: #034694;
    border-bottom: 2px solid #034694;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
    color: #fff;
}

li {
    margin-bottom: 10px;
}



.soccer-img{
    width: 900px;
    height: 500px;
    margin-top: 1.5%;
   
}
.imgs{
    text-align: center;
}

/* Hero Section */
#hero {
    background-image: url('images/hero.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
    margin-bottom: 40px;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero-content h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hero-content .btn {
    display: inline-block;
    background-color: #034694;
    color: white;
    font-size: 1.1em;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero-content .btn:hover {
    background-color: #ffc20e;
}



  


/* Responsive Design */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        margin-top: 20px;
        flex-direction: column;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    section {
        padding: 30px;
    }

    .hero-content h2 {
        font-size: 2.5em;
    }

    .hero-content p {
        font-size: 1em;
    }

    .soccer-img{
        width: 500px;
        height: 300px;
        margin-top: 1.5%;
       
    }
    .imgs{
        text-align: center;
    }
}
